<div class="container" id="contenedor">
  <div class="login-container row" *ngIf="!showSuccessMessage">
    <div class="row">
      <h2>Registrarse</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <div class="row">
              <label>Usuario</label>
            </div>
            <div class="row">
              <input type="text" class="form-control field" formControlName="username" placeholder="Introduce usuario*" (input)="onInputChangeUserName()">
              <div class="input-underline height"></div>
              <div *ngIf="userNameError">
                <a class="errorPassword">Este campo es obligatorio</a>
              </div>
              <div *ngIf="userNameRepError">
                <a class="errorPassword">Ese usuario ya existe</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Contraseña</label>
            </div>

            <div class="row">
              <input type="password" class="form-control field" formControlName="password" placeholder="Introduce contraseña*" (input)="onInputChangePass()">
              <div class="input-underline height"></div>
              <div *ngIf="passError">
                <a class="errorPassword">Este campo es obligatorio</a>
              </div>
              <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
                <a class="errorPassword">La contraseña debe tener al menos 5 caracteres.</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Repite contraseña</label>
            </div>
            <div class="row">
              <input type="password" class="form-control field" placeholder="Introduce contraseña de nuevo*" formControlName="passwordRep" (input)="onInputChangePassRep()">
              <div class="input-underline height"></div>
              <div *ngIf="passRepError">
                <a class="errorPassword">Este campo es obligatorio</a>
              </div>
              <div *ngIf="registerForm.hasError('contraseniasNoCoinciden')">
                <a class="errorPassword">Las contraseñas no coinciden</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <div class="form-group">
            <div class="row">
              <label>Nombre</label>
            </div>
            <div class="row">
              <input type="text" class="form-control field" formControlName="name" placeholder="Introduce nombre*" (input)="onInputChangeName()">
              <div class="input-underline height"></div>
              <div *ngIf="nameError">
                <a class="errorPassword">Este campo es obligatorio</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Apellidos</label>
            </div>
            <div class="row">
              <input type="text" class="form-control field" formControlName="lastName" placeholder="Introduce apellidos*" (input)="onInputChangeLastName()">
              <div class="input-underline lastName"></div>
              <div *ngIf="lastNameError">
                <a class="errorPassword">Este campo es obligatorio</a>
              </div>
            </div>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-10">
                <a class="sinCuenta" (click)="logIn()">¿Ya tiene cuenta? Inicie sesión aquí.</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="button btn btn-primary btn-block">Registrar</button>
    </form>
  </div>

  <div class="success-container row" *ngIf="showSuccessMessage">
    <i class="fa-regular fa-circle-check icono"></i>
  </div>
</div>

