.login-container {
  max-width: 40em;
  margin: 15em auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.login-container h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}
.sinCuenta{
  position: absolute;
  bottom:11em;
  left: 27.5em;
  font-size: 0.9em;
  cursor: pointer;
}

.errorPassword{
  font-size: 0.9em;
  text-decoration: none;
  color: red;
}

.button{
  width: 36em;
}
