.logo {
  margin-left: 6em;
}

.perfil {
  margin-right: 6em;
}

.imagenPerfil {
  border-radius: 50%;
  margin-left: 5em;
}

.sidebarImagen{
  border-radius: 50%;
  max-width: 100%;
}

.searchBar {
  width: 50em;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.input-underline {
  height: 5%;
  width: 90%;
  background-color: #000000; /* Color de la barra */
  transition: width 0.5s ease-in-out;
  margin-left: 25%;
  transform: translateX(-25%);
}

.form-control:focus + .input-underline {
  width: 100%;
}

.cilindroArriba{
  transition: all .5s ease;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -15em;
  z-index:1000;
}

.cilindroAbajo{
  transition: all .5s ease;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  right: -15em;
  z-index:1000;
}

.name {
  position: fixed;
  bottom: 30em;
  right: -20em;
}

.bg-header {
  background-image: url("/assets/static/fondoCabecera.jpg");
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation: enter 1s forwards;
}

@keyframes enter {
  0%{
    margin-top: -20%
  }
  100%{
    margin-top: 0
  }
}

.sidebar {
  width: 11.3em;
  background-image: repeating-linear-gradient(
    45deg,
    white 0,
    white 1em,
    blue 1em,
    blue 2em,
    white 2em,
    white 3em,
    red 3em,
    red 4em
  );
  transition: all .5s ease;
  animation: rotate-background 10s linear infinite;
  background-size: 200% 200%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -15em;
  margin-top: 7.75em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  z-index:1000;
}

.fullheight{
  min-height: calc(100vh - 15.5em)
}

@keyframes rotate-background {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100px;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}

#check {
  display: none;
}

.info{
  width: 130%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: #000000;
  border-radius: 5px;
  border: none;
}

.boton-aceptar{
  background: transparent;
  width: 100%;
  border: 0.15em solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-aceptar:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#usuario {
  margin-top: 10%;
  margin-left: -13%;
}
#nombre {
  margin-top: -70%;
  margin-left: -13%;
}

#apellidos {
  margin-top: -135%;
  margin-left: -13%;
}

#editar{
  margin-top: -180%;
  margin-left: -13%;
  cursor: pointer;
}

#cerrarSesion{
  margin-top: 75%;
  margin-left: -13%;
  cursor: pointer;
}



label #btn {

  margin-right: 8em;
  cursor: pointer;
  height: 5em;
  width: 5em;
  text-align: center;
  transition: all .5s ease;
}

#check:checked ~ .sidebar {
  right: 3.4em;
}
#check:checked ~ .cilindroArriba {
  right: 0;
}
#check:checked ~ .cilindroAbajo {
  right: 0;
}

#check:checked ~ label #btn {
  margin-right: 245px;
  opacity: 0;
  visibility: hidden;
}

