.logo{
  margin-left: 6em;
}

.perfil{
  margin-right: 6em;
}

.imagenPerfil{
  border-radius: 50%;
}

.searchBar{
  width: 50em;
}

.bg-header{
  background-color: white;
  background-image: repeating-linear-gradient(
    45deg,
    white 0,
    white 1em,
    blue 1em,
    blue 2em,
    white 2em,
    white 3em,
    red 3em,
    red 4em
  );

  border-bottom: black solid 0.2em;
  border-top: black solid 0.2em;
}

