<header>
  <div class="row">
    <nav *ngIf="cliente" class="navbar navbar-expand-lg navbar-light bg-header">
      <div class="col-2">
        <a class="navbar-brand logo" [routerLink]="['/home']">
          <img ngSrc="../../../assets/static/logo.PNG" alt="Logo" height="85" width="85" priority>
        </a>
      </div>
      <div class="col-8">
        <div class="collapse navbar-collapse">
          <form class="form-inline my-2 my-lg-0 mx-auto search-box">
            <div class="row">
              <div class="col">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Buscar" aria-label="Buscar" #filtro>
                <div class="input-underline"></div>
              </div>
              <div class="col">
                <button class="btn btn-light boton-aceptar" type="submit" (click)="routeSearch(filtro.value)">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-2">
        <input type="checkbox" id="check">
        <label for="check">
          <img [ngSrc]="cliente.fotoPerfil" class="imagenPerfil" alt="Perfil" height="85" width="85" priority id="btn">
        </label>

        <div class="row cilindroArriba" id="cilindroArriba">
          <img src="assets/static/cilindroArriba.png" alt="cilindroArriba" width="150em" height="150em">
        </div>

        <div class="row sidebar fullheight" id="sidebar">
          <div class="row" style="max-height: 1em">
            <div class="col-2"></div>
            <div class="col-10" >
              <img [src]="cliente.fotoPerfil" class="sidebarImagen" alt="Perfil" height="100em" width="100em" priority style="margin-left: 0.5em; margin-top: 1em" id="imagenPerfil">
            </div>
          </div>
          <div class="row" style="max-height: 1em">
            <div class="col-1"></div>
            <div class="col-10" >
              <h6 class="info infoHeader" id="usuario">{{ cliente.usuario }}</h6>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row" style="max-height: 1em">
            <div class="col-1"></div>
            <div class="col-10" >
              <h6 class="info infoHeader" id="nombre">{{ cliente.nombre }}</h6>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row" style="max-height: 1em">
            <div class="col-1"></div>
            <div class="col-10" >
              <h6 class="info infoHeader" id="apellidos">{{ cliente.apellidos }}</h6>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row" style="max-height: 1em">
            <div class="col-1"></div>
            <div class="col-10" >
              <h5 class="info botonHeader" routerLink="perfil/editar" id="editar">Editar perfil</h5>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row" style="max-height: 1em">
            <div class="col-1"></div>
            <div class="col-10" >
              <h5 class="info botonHeader" id="cerrarSesion" (click)="logOut()">Cerrar sesión</h5>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="row cilindroAbajo" id="cilindroAbajo">
          <img src="assets/static/cilindroAbajo.png" alt="cilindroAbajo" width="150em" height="150em">
        </div>

      </div>

    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

