<div id="tusCitas" *ngIf="citas.length >0" style="width: 75%; margin-left: 46%">
  <h1>Tus citas</h1>
</div>
<div class="container" id="contenedor" style="margin-left: 12em;margin-top: 3em">
  <div class="w-75" *ngFor="let peluqueria of peluquerias">
    <div class="card" (click)="routePeluqueria(peluqueria)">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-2">
            <img ngSrc="{{peluqueria.urlImagen}}" alt="foto Peluqueria" width="130" height="130">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">{{ peluqueria.nombre }}</h4>
                <div *ngIf="citas.length <=0">
                  <p class="card-text">{{ peluqueria.descripcion }}</p>
                </div>
                <div *ngIf="citas.length >0">
                  <div *ngFor="let cita of citas">
                    <div *ngIf="cita.id == peluqueria.id">
                      <p class="card-text">Fecha: {{ cita.fecha }}</p>
                      <p class="card-text">Hora: {{ cita.hora }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row" *ngIf="!isCita">
                  <div class="col-md-9"></div>
                  <div class="col-md-3" *ngIf="favoritosArray.includes(peluqueria.idPeluqueria)">
                    <i class="fa-solid fa-heart fav"></i>
                  </div>
                  <div class="col-md-3" *ngIf="!favoritosArray.includes(peluqueria.idPeluqueria)">
                    <i class="fa-regular fa-heart fav"></i>
                  </div>
                </div>
                <div class="row" *ngIf="isCita">
                  <div class="col-md-9"></div>
                  <div class="col-md-3" *ngIf="!expired.includes(peluqueria.id)">
                    <i class="fa-regular fa-clock fav"></i>
                  </div>
                  <div class="col-md-3" *ngIf="expired.includes(peluqueria.id)">
                    <i class="fa-solid fa-check fav"></i>
                  </div>
                </div>
                <div class="row mt-5">
                  <p class="card-text">{{ peluqueria.direccion }}</p>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

