.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.text-right {
  text-align: right;
}

.fav{
  font-size: 2em;
}
