.card {
  margin-bottom: 2.5%;
  background-image: url("/assets/static/fondoPeluqueria3.jpg");
  background-size: cover;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  opacity:0;
  margin-top:-10em;
  animation: showUp 2s forwards;
  cursor:pointer;
  color: white;
}

@keyframes showUp {
  60%{
    opacity:100%;
  }
  100%{
    opacity:100%;
    margin-top:0
  }
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.text-right {
  text-align: right;
}

.fav{
  font-size: 2em;
  color: #882018;
}

.salir{
  animation: out 2s forwards;
}

@keyframes out {

  100%{
    opacity:0;
    margin-top:100%
  }
}

.tituloCitas{
  width: 75%; margin-left: 46%;
  animation: aparece 2.5s forwards;
}
.tituloFav{
  width: 75%; margin-left: 35%;
  animation: aparece 2.5s forwards;
}

@keyframes aparece{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.boton{
  margin-top: 2%;
  margin-left: 47%;
  background: transparent;
  border: 0.10em solid black;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: aparece 2.5s forwards;
}

.boton:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.h2NoTienesCitas{
  width: 75%; margin-left: 36%;
  animation: aparece 2.5s forwards;
}

.h2NoTienesFavs{
  width: 75%; margin-left: 28%;
  animation: aparece 2.5s forwards;
}
