<div class="row bloque align-items-center">

  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral cursor-pointer" routerLink="/home/citasPedidas">
    <a class="text-button">Citas Pedidas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-4 d-flex align-items-center justify-content-center bg-button-central cursor-pointer" [routerLink]="['/home/peluquerias/fav/']+usuarioId">
    <a class="text-button" >Peluquerías favoritas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral cursor-pointer" routerLink="/home/peluquerias">
    <a class="text-button" >Peluquerías</a>
  </div>

</div>
