<div class="row bloque align-items-center" id="bloque">

  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral bigButton" (click)="citas(0)" >
    <a class="text-button">Citas Pedidas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-4 d-flex align-items-center justify-content-center bg-button-central bigButton" (click)="citas(1)">
    <a class="text-button" >Peluquerías favoritas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral bigButton peluquerias" (click)="citas(2)">
    <a class="text-button" >Peluquerías</a>
  </div>

</div>
