.bg-button-lateral{
  background-image: url("/assets/static/fondoPeluqueria.jpg");
  border-radius: 5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  height: 20em;
  margin-top: 6em;
  margin-bottom:-150em;
  opacity:50%;
  animation: moveUp 2s forwards;

}
.bg-button-central{
  background-image: url("/assets/static/fondoFav.jpg");
  background-size: cover;
  border-radius: 5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  height: 33em;
  margin-bottom:-150em;
  opacity:50%;
  animation: moveUp 2s forwards;
}

@keyframes moveUp {
  60%{
    opacity:100%;
  }
  100%{
    opacity:100%;
    margin-bottom:0
  }
}
.bloque{
  margin-top: 10em;
  cursor:default;
}

.text-button{
  text-decoration: none;
  font-size: 2em;
  color: #333333;
  border-radius: 1em;
  width: 10em;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.irse{
  animation: moveDown 2s backwards;
}

@keyframes moveDown {
  60%{
    opacity:0;
  }
  100%{
    opacity:0;
    margin-bottom:-150em
  }
}
