<form>
  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="user" class="form-control" />
    <label class="form-label" for="user">User</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="pass" class="form-control" />
    <label class="form-label" for="pass">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>

  </div>
</form>
