
<div class="container">
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Introduce usuario">
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Introduce contraseña">
      </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>
  </div>
</div>

