.fotoPerfil{
  margin-top: -6em;
  margin-left: 7em;
  border: #dddddd 0.5em solid;
  border-radius: 10em;
}

.nombre{
  margin-top: -1em;
  margin-left: 2em;
}

.descripcion{
  margin-left: 4em;
  margin-top: 1.5em;
}

.fav{
  font-size: 3em;
  border:0;
  background-color: transparent;
  color: red;
}

.tooltip-container {
  position: absolute;
}

.imageContainer{
  position: relative;
  top: -4em;
  left: 95%;
}
.tooltip {
  position: absolute;
  top: -3em;
  left: 15em;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  width: 10em;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.peluqueria{
  background-image: url("/assets/static/fondoPeluqueria4.jpg");
  background-size: cover;
  margin-top: -1%;
  border-radius: 2.5%;
  color:white
}

.imagenGrande{
  border-radius: 2.5%;
}

#map{
  height: 24em;
  width: 90%;
  border-radius: 1%;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 2%;
}

.boton{
  background-color: #4d3a21;
  margin-left: 70%;
  margin-top: -10%
}

.boton:hover{
  background-color: #987041FF;
}
