<div class="contenedor" id="bloque">
  <div class="container mt-5">
    <div class="row">
      <p-calendar class="custom-calendar" [style]="{'width':'100%'}" dateFormat="dd.mm.yy" [firstDayOfWeek]="1" [(ngModel)]="date" [inline]="true"
                  [minDate]="minDateValue" (onSelect)="changeDay($event)" [disabledDays]="[0,6]"/>
    </div>
    <div class="row hora" id="horas">
      <div class="col-2">
        <div class="row">
          <div class="horas" *ngIf="horas">
            <div class="custom-radio" style="padding: 0.3em" *ngFor="let hora of horario" [ngClass]="{'selected': selectedHora === hora.hora}">
              <input type="radio" class="btn btn-info text-white" (change)="check(hora.hora)" [id]="hora.hora" name="horaRadioGroup" [value]="hora.hora">
              <label for="{{hora.hora}}" style="width:100%">{{hora.hora}}</label>
            </div>
          </div>
      </div>

      </div>
      <div class="col-8"></div>
      <div class="col-2" id="bloqueCita">
        <button #pedirCita class="btn pedirCita" (click)="confirmSelectionWithModal()">Pedir cita</button>
      </div>
    </div>
  </div>

  <div class="confirmation-modal" *ngIf="showConfirmation" id="confirmationBloque">
    <div class="modal-content"  id="confirmation">
      <p>¿Estás seguro de que deseas seleccionar esta hora?</p>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          <button class="btn boton" (click)="confirmSelection()">Confirmar</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3">
          <button class="btn boton" (click)="cancelSelection()">Cancelar</button>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
