<div class="container entra" id="contenedor">
  <form [formGroup]="formEdit" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <div id="image-container">
              <img class="foto mt-3" [src]="cliente.fotoPerfil" alt="foto de perfil" height="220em">
              <img class="camera" src="assets/static/camera.svg" alt="camera" height="220em" (click)="changeFile()">
              <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
            </div>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-9 contenedor col-der">

            <div class="row mt-5">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <h5>Usuario*</h5>
                </div>
                <div class="col-6"></div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <input class="input form-control field" formControlName="username" type="text">
                  <div class="input-underline"></div>
                  <div *ngIf="userNameError">
                    <a class="errorPassword">Este campo es obligatorio</a>
                  </div>
                  <div *ngIf="userNameRepError">
                    <a class="errorPassword">Ese usuario ya existe</a>
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                  <h5>Nombre*</h5>
                </div>
                <div class="col-8"></div>
              </div>

              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <input class="input form-control field" formControlName="name" type="text" >
                  <div class="input-underline"></div>
                  <div *ngIf="nameError">
                    <a class="errorPassword">Este campo es obligatorio</a>
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                  <h5>Apellidos*</h5>
                </div>
                <div class="col-8"></div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <input class="input form-control field" formControlName="lastName" type="text">
                  <div class="input-underline"></div>
                  <div *ngIf="lastNameError">
                    <a class="errorPassword">Este campo es obligatorio</a>
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-2">
                    <h5>Contraseña*</h5>
                  </div>
                  <div class="col-8"></div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <input class="input form-control field" formControlName="password" type="password" >
                    <div class="input-underline"></div>
                    <div *ngIf="passError">
                      <a class="errorPassword">Este campo es obligatorio</a>
                    </div>
                    <div *ngIf="formEdit.get('password')?.errors?.['minlength']">
                      <a class="errorPassword">La contraseña debe tener al menos 5 caracteres.</a>
                    </div>
                  </div>
                  <div class="col-2"></div>

                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-6">
                    <h5>Repite la contraseña*</h5>
                  </div>
                  <div class="col-6"></div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <input class="input form-control field" formControlName="passwordRep" type="password">
                    <div class="input-underline"></div>
                    <div *ngIf="passRepError">
                      <a class="errorPassword">Este campo es obligatorio</a>
                    </div>
                    <div *ngIf="formEdit.hasError('contraseniasNoCoinciden')">
                      <a class="errorPassword">Las contraseñas no coinciden</a>
                    </div>
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>
            </div>
            <div class="row mt-5 mb-3">

              <div class="col-2"></div>
              <div class="col-8">
                <input class="btn boton-aceptar" type="submit" value="Editar">
              </div>
              <div class="col-2"></div>
            </div>
          </div>

          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </form>
  <div class="success-container row" *ngIf="showSuccessMessage">
    <i class="fa-regular fa-circle-check icono"></i>
  </div>
</div>
