<div class="row bloque align-items-center">

  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral" >
    <a class="text-button">Citas Pedidas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-4 d-flex align-items-center justify-content-center bg-button-central">
    <a class="text-button">Peluquerías favoritas</a>
  </div>
  <div class="col-1"></div>
  <div class="col-3 d-flex align-items-center justify-content-center bg-button-lateral">
    <a class="text-button">Peluquerías</a>
  </div>

</div>
