<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <label>Archivo</label>
        <input type="file" formControlName="file" (change)="onChange($event)">
        <input type="submit" placeholder="Enviar">
      </form>
    </div>
    <div class="col-8">
      <div class="row">
        <a>{{cliente.nombre}} {{cliente.apellidos}}</a>
      </div>
      <div>
        <img [src]="cliente.fotoPerfil" alt="foto de perfil">
      </div>
      <div class="row">
        <a>{{cliente.usuario}}</a>
      </div>
    </div>
  </div>
</div>
